.header {
    width: 100%;
    background-color: #3853a4;
    height: 60px;
    top: 0px;
}
.logo {
    height: 56px;
    margin: 3px auto auto;
}
.content {
    margin-top: 37px;
    margin-bottom: 37px;
}
button.btn-primary {
    background-color: #3853A4;
}
.form-control:focus {
    border-color: #3853A4;
}
a, h3.panel-title a {
    color: #3853A4;
}
.content .well {
	min-height: 102px;
}
.result-panel {
	text-align: center;
}
.result-input {
	border: 0px;
	background: transparent;
	text-align: center;
	color: #3853A4;
}
.footer-line {
	width: 90%;
	margin-bottom: 0px;
}
#shortLinkResult {
	font-size: 24px;
}
.footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
}